@{
    ViewData["Title"] = "O Aplikaciji";
}

<img src="~/images/banner.png" />


<h2>@ViewData["Title"]</h2>
<h3>Nekaj o aplikaciji...</h3>

<p>
    Aplikacija oziroma informacijski sistem Uride je namenjen vsem podjetjem, katerih glavna obrt je prevoz ljudi.
    Administrator podjetja ima pregled nad vsemi strankami, vozniki, avtomobili, preteklimi vožnjami in računi.
    Z lahkoto lahko vodilni doda nov model avtomobila, nove stranka, zaključene vožnje in nove voznike. Če se voznik upokoji ali zapusti podjetje,
    se enostavno spremeni status voznika na upokojen.
</p>
