@{
    ViewData["Title"] = "Kontakt";
}

<img src="~/images/banner.png" />

<h3>@ViewData["Title"]</h3>

<address>
    Večna pot 113<br />
    Ljubljana, Slovenija<br />
    <abbr title="Telefonska Številka">Tel. St.:</abbr>
    090142847
</address>

<address>
    <strong>Podpora:</strong> <a href="mailto:neobstaja@uride.com">neobstaja@uride.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@uride.com">marketing@uride.com</a>
</address>
