@model Uride.Models.Transakcija

@{
    ViewData["Title"] = "Izbris";
}

<h2>Izbris</h2>

<h3>Ali ste prepričani da želite izbrisati sledeči zapis?</h3>
<div>
    <h4>Transakcija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Znesek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Znesek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdvoznjeNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdvoznjeNavigation.VoznjaId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StRacuna" />
        <input type="submit" value="Izbriši" class="btn btn-default" /> |
        <a asp-action="Index">Nazaj na seznam</a>
    </form>
</div>
